<ion-header>

  <ion-navbar>
    <ion-title>Books</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <h2>Study</h2>

  <ion-scroll scrollX="true">
    <button *ngFor="let studyItem of studyList" (click)="select(studyItem)" clear class="publication-item" >
              <img  src="{{studyItem.getImage()}}" width="60" height="85"><br/>
              {{studyItem.name}}
    </button>
  </ion-scroll>

  <h2>Study</h2>

  <ion-scroll scrollX="true">
    <button *ngFor="let studyItem of studyList" (click)="select(studyItem)" clear class="publication-item" >
              <img  src="{{studyItem.getImage()}}" width="60" height="85"><br/>
              {{studyItem.name}}
    </button>
  </ion-scroll>

  <h2>Study</h2>

  <ion-scroll scrollX="true">
    <button *ngFor="let studyItem of studyList" (click)="select(studyItem)" clear class="publication-item" >
              <img  src="{{studyItem.getImage()}}" width="60" height="85"><br/>
              {{studyItem.name}}
    </button>
  </ion-scroll>

  <h2>Study</h2>

  <ion-scroll scrollX="true">
    <button *ngFor="let studyItem of studyList" (click)="select(studyItem)" clear class="publication-item" >
              <img  src="{{studyItem.getImage()}}" width="60" height="85"><br/>
              {{studyItem.name}}
    </button>
  </ion-scroll>

  <h2>Study</h2>

  <ion-scroll scrollX="true">
    <button *ngFor="let studyItem of studyList" (click)="select(studyItem)" clear class="publication-item" >
              <img  src="{{studyItem.getImage()}}" width="60" height="85"><br/>
              {{studyItem.name}}
    </button>
  </ion-scroll>




  <ion-list>
      <button *ngFor="let item of items" ion-item (click)="select(item)" >      
            <h2>{{item.name}}</h2>
      </button> 
  </ion-list>

  <ion-fab top right edge>
      <button ion-fab color="primary" (click)="exit()" mini ><ion-icon name="close"></ion-icon></button>
  </ion-fab>



</ion-content>
